<div class="container">
    
    <div class="row">
        
        <div class="well"> 
            <h2>T: {{question.title}}  </h2>
                <p> Q:{{question.body}}   </p>
                <p> Posted by {{question.memberId}} at {{question.posted | date: 'short'}}</p>
                <p>Tags: <span ng-repeat="tag in question.tags"> {{tag}} , </span></p>

                
           <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-success" ng-click='addComment(newMes)'>Add comment</button>
                    <button class='btn btn-warning' ng-click='addResponse(newMes)'>Add response</button>
                </div>
                <input ng-model='newMes.body'type="text" class="form-control">
           </div>
       </div>

       <div class="well">     
            <div class="list-group">
                <div class="list-group-item" ng-repeat="com in comments">
                    
                    <p>Comment posted by {{com.memberId}} at {{com.posted | date: 'short'}}</h3>
                    <p>{{com.body}}</p>

                    <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="deleteComment(com)">Delete</button>
                    </div>    
                </div>
             </div>
        </div>
     
        
        <div class="well">
            
         <div class="list-group" ng-repeat="res in responses">
            <div class="list-group-item" >
                    
                    <h3>Response posted by {{res.memberId}} at {{res.posted | date: 'short'}}</h3>
                    <p>{{res.body}}</p>
                    <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="deleteResponse(res)">Delete</button>
                    </div>    

            </div>
            </div>
        </div>


</div>




<!--
<h1>A SINGLE QUESTION VIEW</h1>

<p>If we are logged in we should have a member obj {{member}}</p>

<h3>Question Rules</h3>
<p>A member must be logged in to cast votes, ask questions, add responses, or add comments</p>
<p>A member may not upvote their own questions/answers/comments</p>
<p>Only the member who posted the the questions can mark an answer as the correct answer</p>
<p>Only the member who posted the the questions/answers/comments can edit their content</p>
<p>A member may only upvote the questions/answers/comments once.</p>
<p>A member can change their vote to either up or down but may not vote both ways.</p>
-->