<div class="container">
    <div class="row">
       <div class="col-sm-12">
         <form ng-submit="addQuestion(newQuestion)">
          <div  class="form-group">
              <h1>Ask your question</h1>
                <input ng-model='newQuestion.title' type="text" class="form-control" placeholder="Title">
          </div>
                
          <div  class="form-group">
                <input ng-model='newQuestion.body' type="text" class="form-control" placeholder="Question">
          </div>
          
            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset"  class="btn btn-danger">Clean</button>
            </form>
       </div>
        
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Questions from DB</h1>
            </div>
            <div class="panel-body">
                <div class="list-group">
                <div class="list-group-item" ng-repeat="question in questions">
                    
                    <span class="badge" ng-click="deleteQuestion(question)">X</span>
                    <h3>Title: {{question.title}}</h3>
                    <h4> Question: {{question.body}}</h4>
                    <p>from: {{question.memberId}}</p>
                    <p>Qid: {{question.$id}}</p>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>If we are logged in we should have a member obj {{member}}</p>

<h2>Responsibilites</h2>
<p>It is your responsibility to get the questions from firebase to show up here.</p>
<p>When the user clicks on a question it should navigate them to the question view. To accomplish this you will need to pass to the route the questions id. This can be accomplished with either ui-sref="question({id: question.id})" or ng-href="#/questions/{{question.id}}"</p>
<p>It would also be nice if there is some sort of visual indicator that shows if the question has been answered already, and how many upvotes or downvotes the question itself has.</p>
<p>The questions can be orderby max upvotes or by date created depending on the users choice.</p>
<p>The question can be filtered based upon tags, unanswered</p>
<p>No voting from this page.</p>