<div class="container">
    <div class="row">
        
        <div class="panel panel-default">
            
          <div class="panel-heading">
            
                <h2>T: {{question.title}}  </h2>
                <p> Q:{{question.body}}   </p>
                <p> Posted by {{question.memberId}} at {{question.posted | date: 'short'}}</p>
                <p>Tags: <span ng-repeat="tag in question.tags"> {{tag}} , </span></p>
                <a ng-click='showComs = !showComs'>Add a comment</a>
                <a ng-click='showRes = !showRes'>Add a response</a>

                <form ng-show='showComs' ng-submit="addComment(newComment)">
                    <div  class="form-group">
                <input ng-model='newComment.body' type="text" class="form-control" placeholder="Your comment">
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset"  class="btn btn-danger">Clean</button>
                </form>   

            <form ng-show='showRes' ng-submit="addResponse(newRes)">
                <div  class="form-group">
            <input ng-model='newRes.body' type="text" class="form-control" placeholder="Your response">
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset"  class="btn btn-danger">Clean</button>
             </form>   

          </div>
                     
        <div class="panel-body">
            
            <div class="list-group">
                <div class="list-group-item" ng-repeat="com in comments">
                    
                    <p>Posted by {{com.memberId}} at {{com.posted | date: 'short'}}</h3>
                    <p>{{com.body}}</p>

                    <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="deleteComment(com)">Delete</button>
                    </div>    
                </div>
             </div>
        </div>
     </div>
        
    <div class="list-group">
         <div class="list-group-item" ng-repeat="res in responses">
                    
                    <h3>Posted by {{res.memberId}} at {{res.posted | date: 'short'}}</h3>
                    <p>{{res.body}}</p>
                    <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="deleteComment(res)">Delete</button>
                    </div>    

        </div>
     </div>
        
        
        
        
        </div>
    </div>
</div>



<!--
<h1>A SINGLE QUESTION VIEW</h1>

<p>If we are logged in we should have a member obj {{member}}</p>

<h3>Question Rules</h3>
<p>A member must be logged in to cast votes, ask questions, add responses, or add comments</p>
<p>A member may not upvote their own questions/answers/comments</p>
<p>Only the member who posted the the questions can mark an answer as the correct answer</p>
<p>Only the member who posted the the questions/answers/comments can edit their content</p>
<p>A member may only upvote the questions/answers/comments once.</p>
<p>A member can change their vote to either up or down but may not vote both ways.</p>
-->